.container{
	width: 100%;
	min-height: 800px;	
}
.top-banner{
	margin: 0 auto;
	width: 100%;
background: rgba(147,206,222,1);
background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(147,206,222,1) 40%, rgba(116,189,209,1) 65%, rgba(73,165,191,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(40%, rgba(147,206,222,1)), color-stop(65%, rgba(116,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(147,206,222,1) 40%, rgba(116,189,209,1) 65%, rgba(73,165,191,1) 100%);
background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(147,206,222,1) 40%, rgba(116,189,209,1) 65%, rgba(73,165,191,1) 100%);
background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(147,206,222,1) 40%, rgba(116,189,209,1) 65%, rgba(73,165,191,1) 100%);
background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(147,206,222,1) 40%, rgba(116,189,209,1) 65%, rgba(73,165,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
	background-position: contain;
}
.logo-font{
	font-size: 40px;
    font-family: 'Coustard', serif;
	color: #003b63;
}
.nav-edit{
	margin: 0 auto;
}
@media screen and (max-width: 770px){
.logo-font{
	font-size: 30px;    
}

}
@media screen and (max-width: 600px){
.logo-font{
	font-size: 20px; 
}

}